body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: rgb(69, 61, 187);
    margin: 0;
}
header {
    display: flex;
    justify-content: center; /* Gère l'alignement sur l'axe principal (horizontal par défaut) */
    align-items: center;    /* Gère l'alignement sur l'axe secondaire (vertical par défaut) */
    padding: 1rem 2rem;
    background-color: white;
}

menu a {

}


/* ... vos styles existants ... */

body.dark-mode {
  background-color: #2c3e50;
  color: #ecf0f1;
}

body.dark-mode .container {
  background-color: #34495e;
  /* Ajoutez d'autres styles pour le dark mode si nécessaire */
}

body.dark-mode a {
  color: #3498db;
}
